USE [Nawab]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 03/05/2021 5:01:29 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[f_name] [nvarchar](100) NULL,
	[m_name] [nvarchar](100) NULL,
	[l_name] [nvarchar](100) NULL,
	[address] [nvarchar](100) NULL,
	[birthDate] [nvarchar](100) NULL,
	[score] [nvarchar](100) NULL,
	[dep_id] [nvarchar](100) NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Student] ON 

INSERT [dbo].[Student] ([Id], [f_name], [m_name], [l_name], [address], [birthDate], [score], [dep_id]) VALUES (1, N'Toi', N'La', N'Ai', N'Ho Chi Minh', N'12-12-2021', N'10', NULL)
INSERT [dbo].[Student] ([Id], [f_name], [m_name], [l_name], [address], [birthDate], [score], [dep_id]) VALUES (3, N'That', N'Is Not', N'Simple', N'Simple HaNoi', N'4-4-1999', N'81', NULL)
SET IDENTITY_INSERT [dbo].[Student] OFF
