USE [DemoCRUD]
GO
/****** Object:  Table [dbo].[tbl_Employee]    Script Date: 19/03/2021 9:04:21 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Employee](
	[Sr_no] [int] IDENTITY(1,1) NOT NULL,
	[Emp_name] [nvarchar](500) NULL,
	[City] [nvarchar](500) NULL,
	[STATE] [nvarchar](500) NULL,
	[Country] [nvarchar](500) NULL,
	[Department] [nvarchar](500) NULL,
	[flag] [nvarchar](50) NULL,
 CONSTRAINT [PK_tbl_Employee] PRIMARY KEY CLUSTERED 
(
	[Sr_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  StoredProcedure [dbo].[Sp_Employee]    Script Date: 19/03/2021 9:04:21 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Sp_Employee]
@Sr_no int, @Emp_name nvarchar(500),
@City nvarchar(500), @STATE nvarchar(500),
@Country nvarchar(500), @Department nvarchar(500),
@flag nvarchar(50)
AS BEGIN
	IF(@flag = 'insert')
	BEGIN
		INSERT INTO tbl_Employee
		(Emp_name, City, STATE, Country, Department)
		VALUES
		(@Emp_name, @City, @STATE, @Country, @Department)
	END

	ELSE IF(@flag = 'UPDATE')
	BEGIN
		UPDATE tbl_Employee SET
		Emp_name = @Emp_name, City = @City, STATE = @STATE,
		Country = @Country, Department = @Department
		WHERE Sr_no = @Sr_no
	END

	ELSE IF(@flag = 'DELETE')
	BEGIN
		DELETE FROM tbl_Employee
		WHERE Sr_no = @Sr_no
	END

	ELSE IF(@flag = 'GETID')
	BEGIN
		SELECT * FROM tbl_Employee
		WHERE Sr_no = @Sr_no
	END

	ELSE IF(@flag = 'GET')
	BEGIN
		SELECT * FROM tbl_Employee
	END
END
GO
