USE [DemoCRUD]
GO
/****** Object:  Table [dbo].[StudentTb]    Script Date: 19/03/2021 4:28:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[StudentTb](
	[StudentID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[FatherName] [varchar](50) NULL,
	[RollNumber] [varchar](50) NULL,
	[Address] [varchar](200) NULL,
	[Mobile] [varchar](15) NULL,
 CONSTRAINT [PK_StudentTb] PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[StudentTb] ON 

INSERT [dbo].[StudentTb] ([StudentID], [Name], [FatherName], [RollNumber], [Address], [Mobile]) VALUES (1, N'LeVi', N'Le', N'5951071119', N'DongThap', N'123456789')
SET IDENTITY_INSERT [dbo].[StudentTb] OFF
